 <h1>data display</h1>
<div *ngFor = " let datas of data">
  <p>{{datas.id}}</p>
  <p>{{datas.name}}</p>
</div>
<div *ngFor = " let data of data1">
  <p>{{data.id}}</p>
  <p>{{data.name}}</p>
</div> 

<div *ngFor="let item of obj | keyvalue">
  <p>{{item.key}}:{{item.value.color}}:{{item.value.year}}</p>
</div>


<hr>
<br>
<div *ngFor='let key of objectKeys(myObj)'>
  {{key[2]}}
<table>
  <tr *ngFor='let obj of myObj[key]'>
     <td> {{ obj[2].name }}</td>
     <td> {{ obj[2].age }}</td>
  </tr>
</table>
  </div> 

   <table>
      <tr *ngFor='let key of objectKeys(myObj)'>
        <td>{{key}}</td>
      </tr>
        <tr *ngFor='let obj of myObj[key]'>
           <td> {{ obj.name }}</td>
           <td>{{ obj.age }}</td> 
        </tr>
        </table> 
         

        <!-- <div [ngclass]="mark>mark1?:siva:ram"> -->