<!-- <div *ngFor= "let value of items">
  {{value.month}}
  {{value.year}}
</div> -->

<select (change)="yearGet($event.target.value)">
  <option *ngFor="let year of yeardata1" value="{{year}}">{{year}}</option>
</select>
<select (change)="monthGet($event.target.value);yearShow()">
  <option  *ngFor="let month of months" value="{{month}}">{{month}}</option>
</select>
<div *ngFor= "let year of yearFetch" class ="data">
  <p >
  
    {{year.id}}
    {{year.first_name}}
    {{year.last_name}}
  {{year.month}}
    {{year.mobile}}
  {{year.year}}
</p>
</div>
<app-object></app-object>
<app-datas></app-datas>